__pycache__/

# Python
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
pip-wheel-metadata/
site/
dist/
build/
*.egg-info/
.eggs/
.Python
*.so

# Virtual environments
.env
.venv/
venv/

# Logs
*.log
logs/

# IDEs
**/.vscode/
**/.DS_Store

# Data
datasets/
models/
results/
lmdb_store/
